{% extends "post_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: white;">
  <div class="both">

    <form action="." method="POST">{% csrf_token %}
         <fieldset class="field">
             <div class="join">Create an Account!!</div>
             <br>
           {{form|crispy}}
             <br>
           <div>
             <button type="submit">Sign Up</button>
           </div>
          <div>
              <small>Already Have an Account? <a href="{% url 'user_login' %}">Sign In</a></small>
          </div>
         </fieldset>
    </form>
  </div>
</body>
{% endblock %}
