{% extends "post_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: white;">
  <div class="both">

    <form action="." method="POST">{% csrf_token %}
        <fieldset class="field">
             <div class="join">Log In</div>
             <br>
           {{form|crispy}}
             <br>
           <div>
             <button type="submit">Sign In</button>
               <small class="text-muted ml-2">
               <a href="{% url 'password_reset' %}">Forget Password?</a>
               </small>
              </div>
          <div>
              <small> Need an Account? <a href="{% url 'user_register' %}">Sign Up Now</a></small>
          </div>
         </fieldset>
    </form>
  </div>
</body>
{% endblock %}
