{% extends "post_base.html" %}
{% load static %}


{% block content %}
        {% for instance in posts %}
    <div class="second1">
        <img  width="40px;" src="{{ instance.author.profile.image.url}}">
       <div class="second">
          <p><span><a style="text-decoration: none;"
                      href="{% url 'user-post' instance.author.username %}">{{ instance.author}}</a>
          </span> on {{ instance.date_posted|date:"F d, Y" }}</p>
        <h2>{{ instance.title }}</h2>
        <div class="span1">{{ instance.content|truncatewords:30 }}<span class="span2"><a href="{{ instance.get_absolute_url }}">Read more...</a></span></div>
       </div>
    </div>
        {% endfor %}

    <!-- We use the paginated info to indicate our link back to the first and previous post
         so that user can go back to the previous or the next page -->
    <div class="page">
       {% if is_paginated %}
         {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

         {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
           {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>

           {% endif %}

        {% endif %}
    </div>
{% endblock %}

<!--truecatewords are used to show the first words you want so that
all the content will not be displayed at the same time -->