{% extends 'post_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h4 style=" margin-left: 60px; color: red; font-size: 1.3rem;">
    Add Comment
 </h4>
 <div class="container m-5">
     <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
         {{ formmy|crispy }}
         <input type="submit" name="Submit">
     </form>
 </div>
    {% if user.is_authenticated  %}
    <div><a class="btn btn-danger btn-sm mt-1 mb-1" style="margin-left: 60px;" href="">View Comment</a></div>
    {% endif %}
{% endblock %}


