{% extends "post_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: white;">
  <div class="both">

    <form action="." method="POST">{% csrf_token %}
         <fieldset class="field">
             <div class="join">Delete Post</div>
             <h5>Are you sure you want to delete the post "{{ object.title }}" </h5>
           <div>
             <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
              <a class="btn btn-outline-secondary"  href="{% url 'post-detail' object.id %}">Cancel</a>
           </div>
         </fieldset>
    </form>
  </div>
</body>
{% endblock %}
