{% extends "post_base1.html" %}
{% load crispy_forms_tags %}
{% block name %}
<body style="background-color: white;">
  <div class="both">

    <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
         <fieldset class="field">
             <div class="join">New Post</div>
             <br>
           {{form|crispy}}
             <br>
           <div>
             <button type="submit">Post</button>
           </div>
         </fieldset>
    </form>
  </div>
</body>
{% endblock %}
