{% load static %}
<!DOCTYPE html>

<html lang="en">

 <head>
    <meta charset="UTF-8">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">

      <title>Chuks Project</title>
 </head>
  <body>
      <div style="background-color: black;">
         <header>
               <div id="header1">
                   <!--<h3><a href="{% url 'post-home' %}">Blog</a></h3>-->
                    <img  width="60px;" style="border-radius: 50%;" src="{% static 'posts/media/Blog.jpg'%}" alt="This is my Blog logo">
                 <ul class="nav2"   style="font-size: 1em;
                             position: relative;
                             top: 13%;
                             color: red;">
                     <li><a href="{% url 'post-home' %}"><i class="fa fa-home"></i>Home</a></li>

                 </ul>
               </div>
               <div class="log">
                   {% if user.is_authenticated %}
                   <div><a href="{% url 'post-create' %}">Post</a></div>
                   <div><a href="{% url 'user_profile' %}"><i class="far fa-user">Profile</i></a></div>
                      <div><a href="{% url 'user_logout' %}"><i class="fa-sign-out">Logout</i></a></div>
                   {% else %}
                     <div><a href="{% url 'user_login' %}"><i class="fa-sign-in">Login</i></a></div>
                   <div><a href="{% url 'user_register' %}"><i class="fas fa-registered">Register</i></a></div>
                   {% endif %}
               </div>
         </header>
      </div>
     <main>
       <div class="main">
             <div class="main1">
                 {% if messages %}
                   {% for message in messages %}
                      <div class="message">{{ message }}</div>
                    {% endfor %}
                 {% endif %}
                <br>
             {% block content %}
             replace me
             {% endblock %}
            </div>
       </div>
     </main>
      <section>Example 5</section>
     <footer class="footer">

			<!--<div class="footer1">

				<img  width="80px;" style="border-radius: 50%;" src="{% static 'posts/media/Blog.jpg'%}">

				<p class="footer-company-name">ChuksMbanaso© 2021</p>

				<div class="icons">
					<a href="https://www.facebook.com/chuks.j.m"><i class="fa fa-facebook"></i></a>
					<a href="https://www.twitter.com/Chuksmbanaso"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/chukwudi-mbanaso-5b931a164/"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/ChuksMbanaso"><i class="fa fa-github"></i></a>
				</div>

			</div>-->
     </footer>

  </body>
</html>

<!-- <div class="log">
                   the user authentication system means when the user is logged in -->
                <!--
