@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background: white;
  overflow-x: hidden;
}

main {
   height: 500px;
   max-width: 980px;
   width: 100%;
   margin: 0 auto;
}
.main1 {
   display: flex;
   width: 40%;
   margin: 10px;
   justify-content: space-between;
   margin-bottom: 10px;
}

@media screen and (max-width: 1163px) {
   .main1 {
     flex-direction: column;
     width: 80%;
     margin-left: 50px;
   }

}

@media screen and (max-width: 701px) {
   .main1 {
     margin-left: 30px;
   }
}

nav {
  height: 5rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


#header1 {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

#header1 img {
   display: inline-block;
   position: relative;
   left: 15%;
}

#header1 ul {
  font-family: 'Ubuntu', sans-serif;
}

ul li {
  list-style: none;
  margin-top: 1em;
  font-size: 1.1rem;
}

#header1 ul li a {
   text-decoration: none;
   color: black;
   font-weight: 700;
   transition: color 500ms ease;
}

#header1 ul li a:hover {
   color: crimson;
}

.log {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 5%;
}

.log a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: 700;
  font-size: 1.1em;
  transition: color 0.3s linear;
}

.log a:hover {
   color: crimson;
}

.nav-toggle {
   display: none;
}

@media screen and (max-width: 800px) {
   #header1 {
     width: 30%;
   }

    #header1 img {
       display: inline-block;
       position: relative;
       left: 5%;
    }

    #header1 ul li {
       position: relative;
       left: 10%;

    }

}

@media screen and (max-width: 550px) {
    .log a {
      font-size: 1rem;
    }

    #header ul li {
      font-size: 0.8rem;
    }
}

@media screen and (max-width: 425px) {
   .log {
     right: 2%;
   }

   .log a {
     margin: 0 5px;
   }
}
@media screen and (max-width: 394px) {


   #header1 ul li i {
      display: none;
   }
}




.main-home {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.banner {
  display: grid;
  min-height: 60vh;
  text-align: center;
  place-items: center;
}

.main-home-sub h1 {
  font-size: 2.5rem;
  font-family: "poppins", sans-serif;
}

.main-home-sub p {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: black;
  font-size: 700;
}

@media screen and (max-width: 336px) {
   .main-home-sub p {
      font-size: 1rem;
   }
}

.latest {
  text-align: center;
  display: grid;
  place-items: center;
}

.latest h1 {
  font-size: 1.4rem;
  font-family: "poppins", sans-serif;
  color: red;
}
.unde {
  height: 0.1rem;
  width: 5%;
  background: black;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  font-weight: bold;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #fff;
  background: rgb(16, 42, 66);
}
.btn-white {
  color: #222;
  border-color: #222;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: rgb(16, 42, 66);
  color: white;
}

.second-main {
  max-width: 980px;
  margin: 0 auto;
  width: 50%;
}

.update a {
  font-size: 0.6rem;
  padding: 5px 5px;
}

.delete a {
  font-size: 0.6rem;
  padding: 5px 5px;
}



.second1 {
  border: 1px solid silver;
  width: 100%;
  opacity: 0.8;
  margin: 10px;
  margin-bottom: 10px;
  background: white;
  display: grid;
  grid-template-columns: 12% 88%;
}

.second12 {
  border: 1px solid silver;
  width: 100%;
  opacity: 0.8;
  margin: 10px;
  margin-bottom: 10px;
  background: white;
  display: grid;
  grid-template-columns: 7% 93%;
}



.second1 img {
   width: 40px;
   border-radius: 50%;
   height: 50px;
   margin: 10px;
   margin-right: 5px;
}

.second12 img {
   width: 40px;
   border-radius: 50%;
   height: 50px;
   margin: 10px;
   margin-right: 5px;
}


@media screen and (max-width: 700px) {
   .second-main {
    width: 100%;
   }

   .second1 {
     position: relative;
     left: 2%;
   }

   .second12 {
     position: relative;
     right: 3%;
   }
}

@media screen and (max-width: 970px) {
  .second12 img {
      width: 100%;
   }
}

@media screen and (max-width: 1165px) {
   .second1 {
     grid-template-columns: 7% 93%;
   }
}

#box {
 border: 1px solid black;
 color: black;
 background: white;
 transition: all 0.3s linear;
}

#box:hover {
color: white;
background: black;
}

.second {
   margin: 10px;
   margin-right: 10px;
   background: white;
}

.second img {
  width: 250px;
}


.second p {
   font-size: 0.7em;
   margin-left: 10px;
   color: red;
   border-bottom: 1px solid black;
}

.second h2 {
  margin: 10px;
  margin-top: 0;
  font-size: 1rem;
  color: blue;
  font-family: "lato", sans-serif;
  margin-bottom: 0;
}

.second span {
   font-weight: bold;
   font-family: 'Caramel', cursive;
   font-size: 1.2em;
   color: red;
   margin-bottom: 0;
}

.span1 {
   font-size: 0.8em;
   margin-left: 10px;
   margin-bottom: 20px;
   color: black;
   width: 100%;
   letter-spacing: 0.05em;
}

.span2 {
   margin-left: 6px;
}

.span2 a {
    text-decoration: none;
    font-size: 0.8em;
    color: crimson;
    background: transparent;
}

.comment span {
   font-weight: bold;
   font-family: 'Caramel', cursive;
   font-size: 0.9rem;
   color: #4287f5;
   margin-bottom: 0;
   margin: 0;
   border-bottom: none;
}

.comment p {
   font-size: 0.7rem;
   margin-left: 10px;
   font-weight: bold;
   color: crimson;
   border-bottom: none;
   margin-bottom: 0;
}

.com {
   font-size: 0.7rem;
   margin-left: 10px;
   font-weight: bold;
   color: black;
   margin-bottom: 10px;
}

.cont {
  position: relative;
  left: 2%;
  width: 90%;

}


.field {
  height: 500px;
  background: white;
  width: 70%;
  position: relative;
  top: 30%;
  margin: 10px;
  font-size: 0.8em;
  text-align: stretch;
}

.fields {
  width: auto;
  margin: 10px;
}

.form {
  margin: 10px;
  position: relative;
  bottom: 10%;

}
.both {
   position: relative;
   bottom: 12%;
}
.both h3 {
   font-size: 1.5em;
   font-weight: bold;
   font-family: "Bonheur Royale", cursive;
}


.both1 a {
   color: red;
}

.join {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  border-bottom: 1px solid black;
}

.profile {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

button {
   background: white;
   color: black;
   font-weight: bold;
   font-size: 1em;
}

.message {
   height: 20px;
   width: 70%;
   position: relative;
   bottom: 10%;
   background: rgb(133, 194, 116);
   color: white;
   text-align: center
   font-size: 0.7em;

}

.media0 {
  width: 70%;
}

.media {
   height: auto;
   width: 50%;

   display: flex;
   flex-direction: row;
}
.bar {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Bonheur Royale", cursive;
}

.media img {
   width: 150px;
   margin-left: 10px;
   border-radius: 70px 70px;
}

.media1 h2 {
   margin-left: 10px;
   font-size: 1.2em;
   font-weight: bold;
}

.media1 p {
  margin-left: 10px;
}

.media0 {
  background: white;
}

.icons {
  position: relative;
  right: 6%;
  padding: 2px;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.tion {
  display: flex;
  flex-direction: column;
}
.tion img {
  width: 50%;
}

@media screen and (max-width: 550px) {
      nav {
        overflow: hidden;
        width: 100%;
      }

     main {
       position: relative;
       right: 5%;
       margin-bottom: 50%;
     }

     .main {
       width: 100%;
     }


     .second1 img {
       width: 100%;
     }

     .second12 img {
        width: 100%;
     }


     .media1 p {
       width: 100%;
     }

     .icons {
       right: 9%;
       width: 50%;
     }
     .footer1 p {
       right: 4%;
     }

     .second img {
       width: 80%;
       border: 50%;
     }

     .tion img {
       width: 80%;
     }
}


@media screen and (max-width: 440px) {

   .media0 {
    width: 100%;
   }

   main {
    margin-bottom: 80%;
   }

     .footer1 p {
       right: 9%;
     }
}

.last {
 display: grid;
 grid-template-rows: 90% 10%;

}

.footer {
 height: 200px;
 background: black;
 display: grid;
 place-items: center;
 margin-bottom: 30px;
}
.footer-icon ul{
  display: flex;
  width: 20%;
}

.footer p {
 color: white;
 font-family: "lato", sans-serif;
}

.fa-facebook {
  color: red;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  padding: 5px;
  margin: 5px;
}

.fa-facebook:hover {
  color: blue;
}

.fa-twitter {
  color: blue;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  padding: 5px;
  margin: 5px;
}

.fa-twitter:hover {
  color: red;
}

.fa-linkedin {
  color: red;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  padding: 5px;
  margin: 5px;
}

.fa-linkedin:hover {
  color: blue;
}

.fa-github {
  color: blue;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  padding: 5px;
  margin: 5px;
}

.fa-github:hover {
  color: red;
}

@media screen and (max-width: 1163px) {
   .last {
     height: 1300px;

   }
   .main1 {
     margin-bottom: 30%;
   }
   .house {
    margin-left: 13%;
   }
}

@media screen and (max-width: 650px) {
   .last {
     height: 1500px;
   }

}

@media screen and (max-width: 359px) {
   .last {
     height: 1600px;
   }

   #header1 ul li i {
     display: non;
   }

}
