@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
  /*background: rgba(190, 197, 209, 0.4);*/
  overflow-x: hidden;
}

main {
   max-width: 1200px;
   display: grid;
   width: 90%;
   margin: 0 auto;
   margin-bottom: 20%;
}

header {
   /*background: rgb(64, 61, 55);*/
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 25px;
}

#header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*#header1 h3 {
  white-space: normal;
  z-index: 1;
  display: inline-block;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  line-height: 10px;
  font-size: 1.5rem;

}

#header1 h3 a {
  text-decoration: none;
  color: red;
  list-style: none;
}

#header1 h3 a:hover {
   color: white;
}*/


#header1 img {
   display: inline-block;
}

#header1 ul {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  font-size: 1.3rem;
}

ul li {
  list-style: none;
  margin-left: 0.5em;
  margin-top: 1em;

}

#header1 ul li a {
   text-decoration: none;
   color: red;
   transition: color 500ms ease;
}

#header1 ul li a:hover {
   color: white;
}

.log {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  align-items: center;
  margin: 1em;
  position: relative;
  top: 5%;
}

.log a {
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   color: red;
   margin: 10px;
   margin-left: 0;
   font-size: 1em;
   transition: color 500ms ease;
}

.log a:hover {
  color: white;
}

.main {
   position: relative;
   left: 55px;
   top: 27px;
   max-width: 980px;
   width: 90%;
}

.main1 {
   height: 250px;

   /*background: rgb(169, 172, 194);*/
   position: relative;
   display: grid;
}

.second1 {
  border: 1px solid silver;
  width: 80%;
  opacity: 0.8;
  margin-bottom: 20px;
  background: white;
  display: grid;
  grid-template-columns: 11% 89%;
}
.second1 img {
   width: 60px;
   border-radius: 50%;
   height: 50px;
   margin: 10px;

}

.second {
   margin: 10px;
   background: white;
}

.second img {
  width: 250px;

}


.second p {
   font-size: 0.7em;
   margin-left: 10px;
   color: grey;
   border-bottom: 1px solid black;
}

.second h2 {
  margin: 10px;
  margin-top: 0;
  font-size: 1rem;
  color: blue;
  font-family: "lato", sans-serif;
  margin-bottom: 0;
}

.second span {
   font-weight: bold;
   font-family: 'Caramel', cursive;
   font-size: 1.2em;
   color: red;
   margin-bottom: 0;
}

.span1 {
   font-size: 0.8em;
   margin-left: 10px;
   font-family: "lato", sans-serif;
   margin-bottom: 20px;
}

.span2 {
   margin-left: 6px;
}

.span2 a {
    text-decoration: none;
    font-size: 0.8em;
    color: brown;
}

.comment span {
   font-weight: bold;
   font-family: 'Caramel', cursive;
   font-size: 0.9rem;
   color: #4287f5;
   margin-bottom: 0;
   margin: 0;
   border-bottom: none;
}

.comment p {
   font-size: 0.7rem;
   margin-left: 10px;
   font-weight: bold;
   color: black;
   border-bottom: none;
   margin-bottom: 0;
}

.com {
   font-size: 0.7rem;
   margin-left: 10px;
   font-weight: bold;
   color: black;
   margin-bottom: 10px;
}

.cont {
  position: relative;
  left: 2%;
  width: 70%;

}


.field {
  height: 500px;
  background: white;
  width: 70%;
  position: relative;
  top: 30%;
  margin: 10px;
  font-size: 0.8em;
  text-align: stretch;
}

.fields {
  width: auto;
  margin: 10px;
}

.form {
  margin: 10px;
  position: relative;
  bottom: 10%;

}
.both {
   position: relative;
   bottom: 12%;
}
.both h3 {
   font-size: 1.5em;
   font-weight: bold;
   font-family: "Bonheur Royale", cursive;
}


.both1 a {
   color: red;
}

.join {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  border-bottom: 1px solid black;
}

.profile {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

button {
   background: white;
   color: black;
   font-weight: bold;
   font-size: 1em;
}

.message {
   height: 20px;
   width: 70%;
   position: relative;
   bottom: 10%;
   background: rgb(133, 194, 116);
   color: white;
   text-align: center
   font-size: 0.7em;

}

.media0 {
  width: 70%;
}

.media {
   height: auto;
   width: 50%;

   display: flex;
   flex-direction: row;
}
.bar {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Bonheur Royale", cursive;
}

.media img {
   width: 150px;
   margin-left: 10px;
   border-radius: 70px 70px;
}

.media1 h2 {
   margin-left: 10px;
   font-size: 1.2em;
   font-weight: bold;
}

.media1 p {
  margin-left: 10px;
}

.media0 {
  background: white;
}

.icons {
  position: relative;
  right: 6%;
  padding: 2px;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.fa-facebook {
  color: red;
  font-size: 1.2rem;
}

.fa-facebook:hover {
  color: white;
}

.fa-twitter {
  color: red;
  font-size: 1.2rem;
}

.fa-twitter:hover {
  color: white;
}

.fa-linkedin {
  color: red;
  font-size: 1.2rem;
}

.fa-linkedin:hover {
  color: white;
}

.fa-github {
  color: red;
  font-size: 1.2rem;
}

.fa-github:hover {
  color: white;
}

.tion {
  display: flex;
  flex-direction: column;
}
.tion img {
  width: 250px;
}


@media screen and (max-width: 900px) {

    main {
      margin-bottom: 60%;
    }

}
@media screen and (min-width: 551px) and (max-width: 900px) {

    .icons {
     width: 40%;
     right: 12%;
    }

    main {
     margin-bottom: 90%;
    }

}



@media screen and (max-width: 550px) {
     main {
       position: relative;
       right: 5%;
       margin-bottom: 50%;
     }

     .main {
       width: 100%;
     }

     header {
       position: relative;
       font-size: 0.9rem;
       margin-left: 20px;
       width: 100%;
     }


     .second1 img {
       width: 100%;
     }

     .media1 p {
       width: 100%;
     }

     .icons {
       right: 9%;
       width: 50%;
     }
     .footer1 p {
       right: 4%;
     }

     .second img {
       width: 80%;
       border: 50%;
     }

     .tion img {
       width: 80%;
     }
}


@media screen and (max-width: 440px) {

   .media0 {
    width: 100%;
   }

   main {
    margin-bottom: 80%;
   }

     .footer1 p {
       right: 9%;
     }
}
@media screen and (max-width: 359px) {
   #header1 ul li i {
    display: none;
   }
    /*main {
     margin-bottom: 100%;
   }*/

}

@media screen and (max-width: 332px) {
       main {
         margin-bottom: 130%;
       }
}
@media screen and (max-width: 298px) {
       main {
         margin-bottom: 150%;
       }
}
@media screen and (max-width: 278px) {
       main {
         margin-bottom: 180%;
       }
}
